.w20 {
    width: 20%;
}
.w38 {
    width: 38%;
}
.w62 {
    width: 62%;
}
.w32 {
    width: 32%;
}
.w68 {
    width: 68%;
}
.w50 {
    width: 50%;
}
.w30 {
    width: 30%;
}
.w70 {
    width: 70%;
}
.w40 {
    width: 40%;
}
.w60 {
    width: 60%;
}
.lf {
    float: left;
}
.d-none {
    display: none;
}
.app-list-data .el-table__header-wrapper table tr,
.app-list-data .el-table__header-wrapper table th{
    background-color: #4e73df;
    color: #ffffff;
}
.app-list-data .el-table tr,
.app-list-data .el-table th,
.app-list-data .el-table td{
  text-align: center;
}
.icon-row-responsive {
    padding-left: 5px;
}
.form-data .el-row i{
    cursor: pointer;
}
/*@media screen*/
@media screen and (max-width:1500px){
    .el-button {
        padding: 10px 15px !important;
    }
}
@media screen and (max-width:1450px){
    .el-button {
        padding: 6px 10px !important;
    }
}

@media screen and (max-width:1450px){
    .icon-row-responsive {
        display: none;
    }
}
@media screen and (max-width:930px){
    .icon-row-responsive {
        display: none;
    }
    .el-button {
        font-size: 12px !important;
        padding: 4px 6px !important;
    }
}

@media screen and (max-width:840px){
    .icon-row-responsive {
        display: none;
    }
    .el-button {
        font-size: 10px !important;
        padding: 4px 6px !important;
    }
}
@media screen and (max-width:630px){
    .icon-row-responsive {
        display: none;
    }
    .el-button {
        font-size: 8px !important;
        padding: 2px 3px !important;
    }
}
.upload-excel {
    max-width: 500px;
}
/*.el-col-btn .el-button,*/
/*.el-col-btn .upload-excel .el-upload,*/
/*.el-col-btn .upload-excel .el-upload__tipf,*/
/*.el-col-btn .upload-excel .el-upload-list{*/
    /*float: right;*/
/*}*/
.el-col-btn {
    white-space: nowrap;
}
